Homo_sapiens.GRCh37.82.noGLMT.chr.genes.bed
gencode.v19.annotation.genes.bed
gencode.v27.annotation.genes.bed
Homo_sapiens.GRCh37.82.chr.bed
Homo_sapiens.GRCh38.91.chr.bed
gencode.v19.annotation.genes.id4.bed
bin
bedops_linux_x86_64-v2.4.41.tar.bz2
